.body {
  margin-bottom: 1px solid grey;
}

  .bg-black {
    background-color: #000;
  }
  .row{
    margin: 20px;
    border: solid rgb(64, 61, 61);
  }
  .title {
    border-bottom: 1px solid grey;
  }

  .border-light-gray {
    border-color: #17030313;
  }

  .text-light-purple {
    color: #bc20ad;
  }

  .card-header {
    border-bottom: 1px solid grey; /* Add underline */
  }
